<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>파일 업로드 성공</h3>
    <hr>
    <p>원본 파일명 : <%= originalname %></p>
    <p>저장 파일명 : <%= filename %></p>
    <p>파일 형식 : <%= mimetype %></p>
    <p>파일 크기 : <%= size %></p>
  </body>
</html>
